{{ if .Get "src" }}
	<div class="html-audio center">
		<a class="html-audio-play">
			<div class="open-iconic"
				style="-webkit-mask: url(/svg/open-iconic/media-play.svg);
				mask: url(/svg/open-iconic/media-play.svg);"
				alt="media-play">
			</div>
		</a>
		
		<input class="html-audio-progress" type="range" step="0" value="0" min="0" max="100">

		<p>0:00</p> <!-- Current Playback Position -->
		<p>/</p> <!-- Seperator -->
		<p>0:00</p> <!-- Audio Length -->

		<a class="html-audio-volume">
			<div class="open-iconic"
				style="-webkit-mask: url(/svg/open-iconic/volume-high.svg);
				mask: url(/svg/open-iconic/volume-high.svg);"
				alt="volume-high">
			</div>
		</a>
		<audio class="html-audio-source" preload="{{ or (.Get "preload") "metadata" }}" src="{{ .Get "src" | safeURL }}" {{ with .Get "alt" }} alt="{{ . | plainify }}" {{ end }} {{ with .Get "style" }} style="{{ . | safeCSS }}" {{ end }} ></audio>
	</div>

	{{ if .Get "caption" }}
		<p class="content-caption">{{ .Get "caption" }}</p>
	{{ end }}
{{ end }}