<form name="contact" action="/form-confirmation" method="POST" data-netlify-recaptcha="true" data-netlify="true">
    <p>
        <label>Your Name: </label>
        <br>
        <input class="form-input" type="text" name="name" />
    </p>
    <p>
        <label>Your Email: </label>
        <br>
        <input class="form-input" type="email" name="email" />
    </p>
    <p>
        <label>Message: </label>
        <br>
        <textarea class="form-textarea" name="message"></textarea>
    </p>
    <p>
        <div data-netlify-recaptcha="true"></div>
    </p>
    <p>
        <button type="submit">Send</button>
    </p>
</form>