{{ if eq (.Get "layout") "grid"}}
<div class="grid-container">
    <a class="grid-item" href="https://www.youtube.com/user/gamingarcticnoah/">
        <div class="grid-item-cover-container">
            <img src="/img/socials/cover_youtube.jpg" class="grid-item-cover" />
        </div>
        <div class="grid-item-tooltip-position">
            <div class="grid-item-tooltip-container">
                <h3 class="grid-item-tooltip-text">Youtube</h3>
            </div>
        </div>
    </a>
    <a class="grid-item" href="https://twitch.tv/arcticnoah">
        <div class="grid-item-cover-container">
            <img src="/img/socials/cover_twitch.jpg" class="grid-item-cover" />
        </div>
        <div class="grid-item-tooltip-position">
            <div class="grid-item-tooltip-container">
                <h3 class="grid-item-tooltip-text">Twitch</h3>
            </div>
        </div>
    </a>
    <a class="grid-item" href="https://twitter.com/arcticnoah">
        <div class="grid-item-cover-container">
            <img src="/img/socials/cover_twitter.jpg" class="grid-item-cover" />
        </div>
        <div class="grid-item-tooltip-position">
            <div class="grid-item-tooltip-container">
                <h3 class="grid-item-tooltip-text">Twitter</h3>
            </div>
        </div>
    </a>
    <a class="grid-item" href="https://instagram.com/arcticnoah">
        <div class="grid-item-cover-container">
            <img src="/img/socials/cover_instagram.jpg" class="grid-item-cover" />
        </div>
        <div class="grid-item-tooltip-position">
            <div class="grid-item-tooltip-container">
                <h3 class="grid-item-tooltip-text">Instagram</h3>
            </div>
        </div>
    </a>
    <a class="grid-item" href="https://soundcloud.com/arcticnoah">
        <div class="grid-item-cover-container">
            <img src="/img/socials/cover_soundcloud.jpg" class="grid-item-cover" />
        </div>
        <div class="grid-item-tooltip-position">
            <div class="grid-item-tooltip-container">
                <h3 class="grid-item-tooltip-text">Soundcloud</h3>
            </div>
        </div>
    </a>
</div>
{{ end }}
{{ if eq (.Get "layout") "list"}}
<ul class="list-container">
    <li><a class="list-item" href="https://www.youtube.com/user/gamingarcticnoah/">Youtube</a></li> 
    <li><a class="list-item" href="https://twitch.tv/arcticnoah">Twitch</a></li> 
    <li><a class="list-item" href="https://twitter.com/arcticnoah">Twitter</a></li> 
    <li><a class="list-item" href="https://instagram.com/arcticnoah">Instagram</a></li> 
    <li><a class="list-item" href="https://soundcloud.com/arcticnoah">Soundcloud</a></li> 
</ul>
{{ end }}