{{ if eq (.Get "layout") "grid"}}
<div class="grid-container">
    <a class="social-button-link" href="https://www.youtube.com/user/gamingarcticnoah">
        <button class="social-button">Youtube</button>
    </a>
    <a class="social-button-link" href="https://twitter.com/arcticnoah">
        <button class="social-button">Twitter</button>
    </a>
    <a class="social-button-link" href="https://soundcloud.com/arcticnoah">
        <button class="social-button">Soundcloud</button>
    </a>
    <a class="social-button-link" href="https://twitch.tv/arcticnoah">
        <button class="social-button">Twitch</button>
    </a>
    <a class="social-button-link" href="https://instagram.com/arcticnoah">
        <button class="social-button">Instagram</button>
    </a>
</div>
{{ end }}
{{ if eq (.Get "layout") "list"}}
<ul class="list-container">
    <li><a class="list-item" href="https://www.youtube.com/user/gamingarcticnoah/">Youtube</a></li>
    <li><a class="list-item" href="https://twitch.tv/arcticnoah">Twitch</a></li>
    <li><a class="list-item" href="https://twitter.com/arcticnoah">Twitter</a></li>
    <li><a class="list-item" href="https://instagram.com/arcticnoah">Instagram</a></li>
    <li><a class="list-item" href="https://soundcloud.com/arcticnoah">Soundcloud</a></li>
</ul>
{{ end }}