{{ define "main" }}
<div class="archive">
	{{ if ne .Parent.RelPermalink "/" }}
		<a href="{{ .Parent.RelPermalink }}">Back to Portfolio Categories</a>
		<h1>{{ .Title }} Portfolio</h1>
	{{ else }}
		<h1>Portfolio Categories</h1>
	{{ end }}

	<div class="grid-container">
		{{range $name, $taxonomy := .Site.Taxonomies.categories}} {{ $cnt := .Count }}
		{{ with $.Site.GetPage (printf "/categories/%s" $name) }}
			<a class="grid-item" href="{{ .RelPermalink }}">
				<div class="grid-item-cover-container">

					<img src="{{ delimit (slice (printf "%s%s" .Parent.Parent.RelPermalink "portfolio/") (printf $name) (".gif")) "" }}" class="grid-item-cover" />
				</div>
				<div class="grid-item-tooltip-position">
					<div class="grid-item-tooltip-container">
						<h3 class="grid-item-tooltip-text">{{ humanize $name }}</h3>
					</div>
				</div>
			</a>
			{{end}}
		{{end}}
	</div>
</div>
{{ end }}
