{{ define "main" }}
<div class="archive">
	<h1>{{ .Title }}</h1>
	<div class="portfolio-container">
		{{ range .Pages }}
		<a class="portfolio-item" href="{{ .Permalink }}">
			{{ if .Params.Cover }} {{ if .Params.UseRelativeCover }} <img
			src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}"
			class="portfolio-cover" /> {{ else }}
			<img src="{{ .Params.Cover | absURL }}" class="portfolio-cover" />
			{{ end }} {{ end }}
			<div class="portfolio-item-tooltip-position">
				<h3 class="portfolio-item-tooltip-text">
					{{ .Params.Title }}
				</h3>
			</div>
		</a>
		{{ end }}
	</div>
</div>
{{ end }}
