<div class="cookie-banner" style="display: none">
  <button class="cookie-close">&times;</button>
  <p>
    This website uses cookies to improve your experience, read about it here: <a href="/cookie-policy">Cookie Policy</a>
  </p>
  <div class="cookie-buttons">
    <button class="cookie-agree">Agree</button>
    <div class="cookie-buttons-spacing"></div>
    <button class="cookie-disagree">Disagree</button>
  </div>
</div>

<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>© {{ now.Year }} arcticnoah</span>
        <span><a href="/cookie-policy">Cookie Policy</a></span>
        <a href="javascript:toggleThirdPartyCookies();" id="toggle-cookies">... third party cookies</a>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "script.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
{{- partial "extended_footer.html" . }}
