<footer class="footer">
  <!-- <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span>{{ now.Year }} arcticnoah</span>
      </div>
    {{end}}
  </div> -->
</footer>


<script type="text/template" id="embla-dot-template">
  <button class="embla__dot" type="button"></button>
</script>
<script src="https://unpkg.com/embla-carousel@3.0.26/embla-carousel.umd.js"></script>
<script src="https://unpkg.com/medium-zoom@1.0.6/dist/medium-zoom.min.js"></script>
<script src="{{ " assets/main.js" | absURL }}"></script>
<script src="{{ " script.js" | absURL }}"></script>
<!-- <script src="{{ "assets/prism.js" | absURL }}"></script> -->