{{ define "main" }}
{{ if ne .Parent.RelPermalink "/" }}
	<div class="archive">
		<a href="/portfolio">Back to Portfolio Categories</a>
		<h1>{{ humanize .Title }} Portfolio</h1>
		<div class="grid-container">
			{{ range .Pages }}
			<a class="grid-item" href="{{ .Permalink }}">
				<div class="grid-item-cover-container">
					{{ if .Params.Cover }}
						{{ if .Params.UseRelativeCover }}
							<img src="{{ (printf "%s%s" .Permalink .Params.Cover ) }}" class="grid-item-cover" />
						{{ else }}
							<img src="{{ .Params.Cover | absURL }}" class="grid-item-cover" />
						{{ end }}
					{{ end }}
				</div>
				<div class="grid-item-tooltip-position">
					<div class="grid-item-tooltip-container">
						<h3 class="grid-item-tooltip-text">{{ .Params.Title }}</h3>
						<h5 class="grid-item-tooltip-text">{{ .Params.Timespan }}</h5>
					</div>
				</div>
			</a>
			{{ end }}
		</div>	
	</div>
{{ end }}
{{ end }}
