{{ define "main" }}
{{ if ne .Parent.RelPermalink "/" }}
	<div class="archive">
		<a href="/focus">Back to Daily Logs Focuses</a>
		<h1>Daily Logs: {{ humanize .Title }} Focused</h1>
		<div class="dailylog-container">
			{{ range .Pages }}
			<div class="archive__post">
				<h3 class="archive__post-title"><a
					href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
				</h3>
				<div class="archive__post-meta">
					<!-- <span class="archive__post-date">
						{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
					</span> -->
					{{ with .Params.Author }}
					<span class="archive__post-author">—
						{{ $.Site.Params.WrittenBy | default "Written by" }}
						{{ . }}
					</span>
					{{ end }}
					{{ if $.Site.Params.ShowReadingTime }}
					<span class="archive__post-read-time">— {{ .ReadingTime }}
						{{ $.Site.Params.MinuteReadingTime | default "min read" }}</span>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</div>	
	</div>
	{{ else }}
	<div class="terms">
		<h1>Daily Logs Focuses</h1>
		<ul class="terms__list">
			{{range $name, $taxonomy := .Site.Taxonomies.focus}} {{ $cnt := .Count }}
				{{ with $.Site.GetPage (printf "/focus/%s" $name) }}
					<li class="terms__term">
						<a href="/focus/{{ $name }}">
							#{{ $name }}
							<span class="terms__term-count">{{ $cnt }}</span>
						</a>
					</li>
				{{end}}
			{{end}}
		</ul>
	</div>
{{ end }}
{{ end }}
